{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}Django Web MVC{% endblock %}</title>
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}"
    rel="stylesheet"/>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header>
      <nav
        class="navbar container-fluid navbar-expand-lg bg-dark border-bottom border-body"
        data-bs-theme="dark"
      >
        <div class="container">
          <a class="navbar-brand" href="/">Blog</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link {% if request.path == '/' %}active{% endif %}"
                  aria-current="page"
                  href="/"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link {% if request.path == '/contact/' %}active{% endif %}"
                  href="/contact"
                  >Contact</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link {% if request.path == '/news/' %}active{% endif %}"
                  href="/news"
                  >News</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link {% if request.path == '/posts/' %}active{% endif %}"
                  href="/posts"
                  >Posts</a
                >
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                Search
              </button>
            </form>
          </div>
        </div>
      </nav>
    </header>

    <div class="flex-grow-1 container-fluid bg-dark" data-bs-theme="dark">
      <div class="container">{% block content %}{% endblock content %}</div>
    </div>

    <footer
      class="container-fluid d-flex justify-content-center bg-dark border-top border-body align-items-center"
      data-bs-theme="dark"
    >
      <h6 class="text-light mt-3 mb-3">
        &copy; 2024 My Website | All Rights Reserved
      </h6>
    </footer>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
